In [1]:
import pandas as pd

In [2]:
data_url = "https://docs.google.com/spreadsheets/d/1U9ChIGnZdps1zi-OM1fWBdfGqI8MBO27cnXuV8U_EFQ/export?format=csv"
restaurants = pd.read_csv(data_url)
restaurants.head()

      restaurant
0   P.F. Chang's
1    Kung Fu Tea
2   Panera Bread
3  Awaken Coffee
4         Sbarro

# To Do (planning phase)

* Show the user an input option
* how to take input from user?
    * maybe (input()) function
* Compare/Find matches from 2 results sets



## Future state ideas    

* categorical goruping/filtering
* Cool iOS app

In [3]:
rand_restaurant = restaurants["restaurant"].sample(1)
rand_name = rand_restaurant.iloc[0]
rand_name

"Uncle Sam's Restaurant"

In [4]:
answer = input("How bout" + rand_name + "? (y/n)")
answer

'y'

In [5]:
def get_random_restaurant(df):
    rand_restaurant = df["restaurant"].sample(1)
    rand_name = rand_restaurant.iloc[0]

    return rand_name


def get_user_input(name):
    response = input("How bout" + rand_name + "? (y/n)")
    if response.lower() in ["y", "yes"]:
        wants_it = True
    elif response.lower() == "h*ck yea":
        print("watch your mouth")
    else:
        wants_it = False

    return wants_it


rand_name = get_random_restaurant(restaurants)
get_user_input(rand_name)

False

## User 1 Session

In [6]:
all_responses = []
for i in range(10):
    rand_name = get_random_restaurant(restaurants)
    wants_it = get_user_input(rand_name)

    response_df = pd.DataFrame({"restaurant": [rand_name], "wants_it": [wants_it]})
    all_responses.append(response_df)

responses_df = pd.concat(all_responses).reset_index(drop=True)
responses_df

                       restaurant  wants_it
0                        Shoney's     False
1             Hootie's Burger Bar     False
2       Absolute Burger's & Fries     False
3                Nekter Juice Bar     False
4          Krispy Krunchy Chicken     False
5                 Buddy's Bar-B-Q      True
6                      Applebee's      True
7         Buttermilk Sky Pie Shop     False
8  Don Chuy's Fresh Mex & Cantina     False
9                    The Bohemian     False

## User session 2

In [7]:
yes_responses_df = responses_df[responses_df["wants_it"]]
yes_responses_df

        restaurant  wants_it
5  Buddy's Bar-B-Q      True
6       Applebee's      True

In [10]:
all_responses = []
for i, row in yes_responses_df.iterrows():
    rand_name = row["restaurant"]
    wants_it = get_user_input(row["restaurant"])

    response_df = pd.DataFrame({"restaurant": [rand_name], "wants_it": [wants_it]})
    all_responses.append(response_df)

responses_df = pd.concat(all_responses).reset_index(drop=True)
matches = responses_df[responses_df["wants_it"]]

matches

        restaurant  wants_it
0  Buddy's Bar-B-Q      True

In [ ]:
## Lets go eat